@import '../../styles/variables.scss';
.footer{
    background-color:$color-grey;
    color:$color-primary-blue;
    .copyright{
        font-size:12px;
        margin:15px 0;
    }
    .rightColumm{
        display:flex;
        justify-content:flex-end;
    }
    .address{
        font-style: normal;
        display: flex;
        justify-content: flex-end;
        font-size:12px;
    }
    
}