@import './variables.scss';
@import './fonts.scss';
@import './column-framework.scss';

html,
body{
  margin:0;
  padding:0;
  font-family: $primary-font;
  color: $color-primary-blue;
}
main{
  min-height:calc(100vh - 146px);
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
  font-family: $primary-font;
}
h1, .h1{
  font-size:40px;
  line-height:1.2;
  font-weight:500;
  margin-top:20px;
  margin-bottom:20px;
  @media (width >= $bp-lg) {
    font-size:50px;
  }
  @media (width >= $bp-xl) {
    font-size:60px;
  }
  @media (width >= $bp-xxl) {
    font-size:70px;
  }
}
h2, .h2{
  font-size:30px;
  line-height:1.2;
  font-weight:400;
  margin-top:10px;
  margin-bottom:10px;
  @media (width >= $bp-md) {
    font-size:35px;
  }
  @media (width >= $bp-lg) {
    font-size:50px;
    margin-top:20px;
    margin-bottom:20px;
  }
  @media (width >= $bp-xl) {
    font-size:60px;
  }
}
h3, .h3{
  font-size:24px;
  line-height:1.2;
  font-weight:400;
  @media (width >= $bp-lg) {
    font-size:40px;
  }
}
h4, .h4{
  font-size:22px;
  line-height:1.2;
  font-weight:400;
  @media (width >= $bp-lg) {
    font-size:30px;
  }
}
h5, .h5{
  font-size:20px;
  line-height:1.2;
  font-weight:400;
  @media (width >= $bp-lg) {
    font-size:24px;
  }
}
dl, ol, ul{
  margin-bottom:0;
}
p{
  margin-bottom:20px;
}
p, dl, ol, ul, a, .paragraph{
  font-size:16px;
  line-height:1.2;
  font-family:$secontary-font;
  @media (width >= $bp-lg) {
    font-size:18px;
  }
}
a{
  color:$color-secondary-blue;
  font-family: $primary-font;
}
br{
  display:none;
  @media (width >= $bp-lg) {
    display:initial;
  }
}
hr{
  color:$color-primary-blue;
  background-color:$color-primary-blue;
  border:unset;
  height:2px !important;
  opacity:1;
}
strong{
  font-weight:700;
}
button{
  font-family:$primary-font;
}

section{
  padding:(0.5 * $gutter-md) 0;
  @media (width >= $bp-lg) {
    padding:$gutter-md 0;
  }
  &:last-of-type{
    padding-bottom: 0.5 * $gutter-lg;
    @media (width >= $bp-lg) {
      padding-bottom: $gutter-lg;
    }
  }

  // Gutter top setting option
  &.removeGutterTop{
    padding-top:0;
  }
  &.gutterTopSm{
    padding-top:0.5 * $gutter-sm;
    @media (width >= $bp-lg) {
      padding-top:$gutter-sm;
    }
  }
  &.gutterTopMd{
    padding-top:0.5 * $gutter-md;
    @media (width >= $bp-lg) {
      padding-top:$gutter-md;
    }
  }
  &.gutterTopLg{
    padding-top:0.5 * $gutter-lg;
    @media (width >= $bp-lg) {
      padding-top:$gutter-lg;
    }
  }

  // Gutter bottom setting option
  &.removeGutterBottom{
    padding-bottom:0;
  }
  &.gutterBottomSm{
    padding-bottom:0.5 * $gutter-sm;
    @media (width >= $bp-lg) {
      padding-bottom:$gutter-sm;
    }
  }
  &.gutterBottomMd{
    padding-bottom:0.5 * $gutter-md;
    @media (width >= $bp-lg) {
      padding-bottom:$gutter-md;
    }
  }
  &.gutterBottomLg{
    padding-bottom:0.5 * $gutter-lg;
    @media (width >= $bp-lg) {
      padding-bottom:$gutter-lg;
    }
  }
  // Reverse setting option
  &.reverse{
    .row{
        flex-direction: row-reverse;
    }
  }

  //Background color setting option
  &.bg{
    &.bgGrey{
      background-color:$color-grey;
    }
    &.bgBlue{
      background-color:$color-primary-blue;
      color:$color-white;
      .cta{
        background-color:$color-white;
        color:$color-primary-blue;
        &:hover{
          background-color:$color-grey;
        }
      }
      .imageBorder{
        border: 2px solid $color-primary-blue;
      }
    }
  }

  //Max width container setting option
  &.containerWidthSm{
    .container{
      max-width:$bp-sm;
    }
  }
  &.containerWidthMd{
    .container{
      max-width:$bp-md;
    }
  }
  &.containerWidthLg{
    .container{
      max-width:$bp-lg;
    }
  }

  // Content align setting option
  &.alignLeft{
    text-align: left;
  }
  &.alignCenter{
    text-align: center;
  }
  &.alignRight{
    text-align: right;
  }
}

.container{
  margin:0 auto;
  max-width:1200px;
  padding:0 15px;
  @media (width >= $bp-lg) {
    padding:0 30px;
  }
}

.text-align-center{
  text-align: center;
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.align-itmes-center{
  align-items: center;
}

.image-border{
  background: linear-gradient(140deg, hsla(0,0%,100%,.75) 13.73%, hsla(0,0%,95%,.75) 95.16%);
  border:2px solid #f2f2f2;
  border-radius:15px;
  box-shadow: 0 0 10px rgba(10,36,23,.2);
  box-sizing:border-box;
  padding:15px;
  position:relative;
  @media (width >= $bp-lg){
    padding:30px;
  }
  img{
    border-radius:8px;
    position:relative !important;
    display:block;
    @media (width >= $bp-lg){
      border-radius:8px;
    }
  }
}
.box-border{
  background: linear-gradient(140deg, hsla(0,0%,100%,.75) 13.73%, hsla(0,0%,95%,.75) 95.16%);
  border:2px solid $color-grey;
  border-radius:15px;
  box-shadow:0 0 10px rgba(10,36,23,.2);
  box-sizing:border-box;
  padding:15px;
  position:relative;
  @media (width >= $bp-lg){
    padding:30px;
  }
  .box-border-inner{
    border:2px solid $color-grey;
    border-radius:8px;
    @media (width >= $bp-lg){
      border-radius:10px;
    }
  }
}
.box-shadow{
  box-shadow:0 0 10px 0 rgba(2,82,75,0.2);
}
.border-radius{
  border-radius:8px;
  @media (width >= $bp-lg){
    border-radius:10px;
  }
}
.border{
  border: 2px solid $color-grey;
}
.border-padding{
  padding:15px;
  @media (width >= $bp-lg){
    padding:30px;
  }
}
.justify-content-flex-start{
  justify-content: flex-start;
}
.justify-content-flex-end{
  justify-content: flex-end;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-space-between{
  justify-content: space-between;
}
.justify-content-space-around{
  justify-content: space-between;
}
.cta-wrapper{
  text-align:center;
  margin:30px 0;
  .align-left{
    text-align:left;
  }
  .align-center{
    text-align:center;
  }
  .align-right{
    text-align:right;
  }
}
a,
button{
  &.cta{
    display:inline-block;
    color:$color-grey;
    text-align:center;
    font-size:18px;
    font-weight:500;
    line-height:1.2;
    padding:12px 24px;
    border-radius:2px;
    border: 2px solid $color-secondary-blue;
    background-color: $color-secondary-blue;
    font-family: $primary-font;
    font-weight:600;
    margin:5px 0;
    min-width:200px;
    transition: all 0.3s;
    text-decoration: none;
    @media (width >= $bp-lg){
      margin:10px 0;
    }
    &:hover,
    &:focus{
      background-color:$color-primary-blue;
      color:$color-white;
      border-color:$color-primary-blue;
    }
    .ctas & {
      &:first-of-type{
        margin:5px 10px 5px 0;
        @media (width >= $bp-lg){
          margin:10px 20px 10px 0;
        }
        &:last-of-type{
          margin:10px 0;
        }
      }
    }
    &:nth-child(even){
      background-color:$color-white;
      color:$color-primary-blue;
      &:hover{
        background-color:$color-primary-blue;
        color:$color-white;
      }
    }
  }
}

// Border Wrapping Space Style and Shadows
.imageBorder{
  background: linear-gradient(140deg,hsla(0,0%,100%,.75) 13.73%,hsla(0,0%,95%,.75) 95.16%);
  border: 2px solid #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(10,36,23,.2);
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  @media (width >= $bp-lg) {
      padding: 20px;
  }
  img{
      border-radius:8px;
      @media (width >= $bp-lg) {
          border-radius:10px;
      }
  }
}
.boxBorder{
  background: linear-gradient(140deg,hsla(0,0%,100%,.75) 13.73%,hsla(0,0%,95%,.75) 95.16%);
  border: 2px solid $color-grey;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(10,36,23,.2);
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  @media (width >= $bp-lg) {
      padding: 20px;
  }
  .boxBorderInner{
      border: 2px solid $color-grey;
      border-radius:8px;
      @media (width >= $bp-lg) {
          border-radius:10px;
      }
  }
}
.boxShadow{
  box-shadow: 0px 0px 10px 0px rgba(2, 82, 75, 0.20);
}
.border-radius{
  border-radius: 8px;
  @media (width >= $bp-md) {
      border-radius: 10px;
  }
}
.border{
  border: 2px solid $color-grey;
}
.overflow-hidden{
  overflow:hidden;
}

// Swiper Global
.carousel-wrapper{
  max-width:100%;
}
.swiper-wrapper{
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  padding-top:10px;
  padding-bottom:10px;
}
.swiper-slide{
  background-position:top;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:20px;
  font-weight:bold;
}

