
// Screen size for media queries
$screen-break-xxs:350px;
$screen-break-xs:425px;
$screen-break-sm:576px;
$screen-break-md:768px;
$screen-break-lg:992px;
$screen-break-xl:1200px;
$screen-break-xxl:1400px;

// colors
$color-white:#ffffff;
$color-primary-blue:#01478A;
$color-secondary-blue:#0076B0;
$color-turquoise:#33BFBC;
$color-grey:#f4f4f4;
$color-transparent:transparent;

// gutter sizes
$gutter-sm:45px;
$gutter-md:60px;
$gutter-lg:120px;

$primary-font:'titillium';
// $secontary-font:'titillium';
$secontary-font:'open-sans';